.column {
    margin:0 2%;
    background-color: #EBECF0;
    box-shadow: $boxShadow;
    border-radius: 8px;
    &__container {
        display: flex;
        margin: 0 5%;
        height: 80px;
        max-height: 95vh;
    }
    &__text {
        text-align: center;
        padding-bottom: 4%;
        border-bottom: 0.5px solid black;
        margin-bottom: 0;

    }
}