.task {
    background-color: white;
    white-space: pre-wrap;
    border-radius: 4px;
    padding: 1%;
    min-height: 32px;
    color: black;
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: $boxShadow;
    &__overlay {
        &:hover {
            background-color: rgba(228, 228, 228, 0.3);
            opacity: 1;
     
        }
        &-img {
            margin-right: 10px;
            outline: none;
            width: 20px;
        }
        &-container {
            margin: 5px 0;
            position: relative;
            width: 90%;
        }
        display: flex;
        justify-content: flex-end;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        opacity: 0;
   
    }
    &__container {
        padding-top: 5px;
        background-color: #EBECF0;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 260px;
        border-radius: 8px;
         display: flex;
            overflow-y: auto;
            overflow-x: hidden;
            max-height: 80vh;
    }
    &__add {
        &-button {
            border: none;
            background-color: #86A5D9;
            color: white;
            height: 30px;
            padding: 5px;
            width: 80px;
            outline: none;
            border-radius: 8px;
            font-family: 'Roboto', sans-serif;
            &:hover {
                background-color: rgb(156, 188, 243);
            }
        }
        &-cont {
            &:hover {
                border-radius: 4px;
                background-color:  rgb(224, 224, 224);
            }
            display: flex;
            align-items: center;
            width: 80%;
            height: 30px;
            margin-top: 5px;
           
        }
        &-textarea {
            margin-top: 10px;
            display: block;
            margin-bottom: 15px;
            width: 240px;
        }
        &-container {
            padding-left: 19px;
            padding-bottom: 20px;
            font-size: 14px;
            border-radius: 0 0 8px 8px;
            cursor: pointer;
            width: 100%;
         
        }
    }
}